<main>
    <h1>Users:</h1>
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
    
      <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef>Display name</th>
        <td [id]="element.id" mat-cell *matCellDef="let element" (click)="changeActiveUser(element.id)">{{element.displayName}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="['displayName']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['displayName'];"></tr>
    </table>
</main>